@import './lib/normalize.scss';
@import url('./lib/fonts.scss');
@import './themes/light.scss';
@import './themes/dark.scss';

.app {
  font-family: '"Roboto"', sans-serif;
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app.duringChangeTheme {
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
