@import 'app/styles/globals/variables';

.avatar {
  height: $size-48;
  width: $size-48;
  background-color: var(--inverted-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: $size-28;
    width: $size-28;
    fill: var(--bg-color);
  }
}
