@import 'app/styles/globals/variables';

.avatar {
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: $easy-border;

  img {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  svg {
    height: $size-28;
    width: $size-28;
    fill: var(--bg-color);
  }
}

.round {
  border-radius: 50%;
}
