@import 'app/styles/globals/variables.scss';

.buttonSquare {
  background-color: var(--inverted-bg-color);
  border: none;
  border-radius: $medium-border;
  font-family: $font-family-bold;
  font-weight: 700;
  transition: background-color 0.3s ease;
  color: var(--inverted-primary-color);

  &:hover {
    background-color: var(--inverted-bg-color-hover);
  }
}

.m {
  font-size: $font-size-16;
  line-height: $line-height-24;
  padding-top: $spacing-12;
  padding-bottom: $spacing-12;
  padding-left: $spacing-20;
  padding-right: $spacing-20;
}
