@import 'app/styles/globals/variables.scss';

.menu {
  position: fixed;
  background-color: var(--bg-color);
  border-radius: $s-border-radius;
  box-shadow: var(--medium-box-shadow);
  z-index: 100;
  width: 280px;
}
