@import 'app/styles/globals/variables.scss';

.buttonSquareUI {
  background-color: var(--inverted-bg-color);
  border: none;
  border-radius: $m-border-radius;
  font-family: $font-family-bold;
  font-weight: 700;
  transition: background-color 0.3s ease;
  color: var(--inverted-primary-color);
  display: flex;
  align-items: center;

  &:not(.nonInteractive) {
    cursor: pointer;

    &:hover {
      background-color: var(--inverted-bg-color-hover);
    }
  }
}

.buttonSquareUI.invertedTheme {
  background-color: var(--bg-color);
  color: var(--primary-color);

  &:not(.nonInteractive) {
    &:hover {
      background-color: var(--bg-color-hover);
    }
  }
}

.m {
  font-size: $font-size-16;
  line-height: $line-height-24;
  padding-top: $spacing-12;
  padding-bottom: $spacing-12;
  padding-left: $spacing-20;
  padding-right: $spacing-20;
}

.stretch {
  width: 100%;
}

.leftNode {
  margin-right: $spacing-4;
}

.rightNode {
  margin-left: $spacing-4;
}
