@import 'app/styles/globals/variables.scss';

.header {
  background-color: var(--bg-color-secondary);
  box-shadow: var(--easy-shadow);
  height: $size-56;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.btn ~ .btn {
  margin-left: $spacing-16;
}

.buttons {
  display: flex;
}

.avatar {
  margin-left: $spacing-16;
}
